<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teams</title>
</head>
<body>
<table border=1>
    <tr>
        <td>ID</td>
        <td>Fullname</td>
        <td>Actions</td>
    </tr>
    {% for group in groups %}
    <tr>
        <td>{{ group.id }}</td>
        <td>{{ group.fullname }}</td>
        <td>
            <form action="{{ url_for('edit_group', group_id=group.id) }}">
                <input type="submit" value="Edit">
            </form>
            <form action="{{ url_for('delete_group', group_id=group.id) }}" method="post">
                <input type="submit" value="Delete">
            </form>
        </td>
    </tr>
    {% endfor %}

</table>
<br>
<a href="{{ url_for('create_group') }}">Create Group</a>
</body>
</html>
